################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Space Invaders/.vs/SpaceInvader/v17/Browse.VC.opendb
